<div class="frost-navigation">
  <div class="category blue">
        <div class="header">Resources</div>
    {{frost-navigation-route alias="Topology" route="resource" svgPath="launch/topology"}}

    {{frost-navigation-route alias="Capacity" route="resource" svgPath="launch/capacity-map"}}
    </div>
  <div class="category green">
        <div class="header">Services</div>
    {{frost-navigation-route alias="Link Inventory" route="resource" svgPath="launch/link-browser"}}
    {{frost-navigation-sub-route alias="Provision Link" route="resource"}}
  </div>
</div>