<div class="frost-navigation">
  <div class="category blue">
        <div class="header">Resources</div>
    {{frost-navigation-route
      alias="Topology"
      route="demo.resource"
      svgPath="frost/application"}}

    {{frost-navigation-route
      alias="Capacity"
      route="demo.resource"
      svgPath="frost/application"}}
    </div>
  <div class="category green">
        <div class="header">Services</div>
    {{frost-navigation-route
      alias="Link Inventory"
      route="demo.resource"
      svgPath="frost/application"}}
    {{frost-navigation-sub-route
      alias="Provision Link"
      route="demo.resource"}}
  </div>
</div>
