@import 'node_modules/ember-frost-theme/scss/frost-theme';
@import 'node_modules/ember-frost-css-core/scss/frost-core';


.frost-navigation-modal {
  position: absolute;
  top: 50px;
  width: 100%;
  max-width: none;
  padding: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.frost-navigation {
  padding: 50px 40px;
  background-color: rgba($frost-color-night-2, 0.8);
  display: flex;
  flex-direction: row;
}

.frost-navigation .category {
  flex: 1;
//  font-size: $frost-font-size-5;
  color: rgba($frost-color-white, 0.7);
}

.frost-link.route {
  text-decoration: none;
  cursor: pointer;
}

.frost-link.route .icon {
  width: 60px;
  height: 60px;
  padding-right: 20px;
}

.frost-link.route {
  margin: 40px 0 20px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
//  font-size: $frost-font-size-3;
  color: $frost-color-white;
}

.frost-link.route .transition-arrow {
  width: 30px;
  height: 30px;
  margin-left: auto;
  margin-right: 20px;
}

.frost-link.sub-route {
  background-color: inherit;
}

.frost-link.sub-route.text {
//  font-size: $frost-font-size-2;
}

.frost-navigation .category.blue .frost-link.sub-route {
  color: $frost-color-blue-1;
  border-color: $frost-color-blue-1;
}

.frost-navigation .category.green .frost-link.sub-route {
  color: $frost-color-green-1;
  border-color: $frost-color-green-1;
}

.frost-navigation .category.teal .frost-link.sub-route {
  color: $frost-color-teal-1;
  border-color: $frost-color-teal-1;
}

.frost-link.frost-navigation-action {
  background-color: inherit;
}

.frost-navigation-action.text {
  font-size: 18px;
}

.frost-navigation .category.blue .frost-navigation-action {
  color: $frost-color-blue-1;
  border-color: $frost-color-blue-1;
}

.frost-navigation .category.green .frost-navigation-action {
  color: $frost-color-green-1;
  border-color: $frost-color-green-1;
}

.frost-navigation .category.teal .frost-navigation-action {
  color: $frost-color-teal-1;
  border-color: $frost-color-teal-1;
}
