@import 'node_modules/ember-frost-theme/scss/frost-theme';
@import 'node_modules/ember-frost-css-core/scss/frost-core';
@import 'tests/dummy/app/pods/application/styles';

.dummy-content {
  position: relative;
  top: 50px;
//  height: calc(100% - 50px);
}

.frost-tabs.iframe {
  .navigation {
    display: none;
  }
}
