@import 'node_modules/ember-frost-core/addon/styles/frost-theme';
@import 'node_modules/ember-frost-core/addon/styles/frost-app';

$z-index-application-bar: 9000;
$z-index-modal: 8000;
$z-index-navigation: 7000;
$z-index-notification: 6000;

.dummy-notification-container {
  position: fixed;
  top: 60px;
  right: 10px;
  z-index: 999;
  width: 80%;
  max-width: 200px;
  margin: auto;
}
.dummy-content {
  position: relative;
  top: 50px;
//  height: calc(100% - 50px);
}

.dummy-nav {
  .branding {
    width: 125px;

    .frost-svg {
      width: 125px;
      height: 25px;
    }
  }
}

//TODO import pattern from ember-css-* when it's available
// import from frost-css patterns _application-bar.scss
.frost-application-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  display: flex;
  background-color: $frost-color-night-2;
  z-index: $z-index-application-bar;

  .branding {
    height: 50px;
    padding: 0 25px;
    border-right: 1px solid $frost-color-grey-3;
    display: flex;
    align-items: center;
  }

  .navigation {
    padding: 0 15px;
    height: 50px;
    border-right: solid 1px $frost-color-grey-3;

    .frost-icon {
      width: 35px;
      height: 35px;
      margin-right: 10px;
    }
  }


   .user {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
    padding-left: 15px;
    padding-right: 15px;
    height: 50px;
    border-right: none;
    border-left: solid 1px $frost-color-grey-3;
    color: $frost-color-white;

    .frost-icon {
      width: 35px;
      height: 35px;
    }
    .icon {
      margin: 0;
      margin-right: -15px;
    }
  }
}

//TODO import pattern from ember-css-* when it's available
// import from frost-css patterns modal.scss
.lf-overlay {
  top: 50px;
  opacity: 0.1;
}

.lf-dialog {
  z-index: 2;
}
