@import 'node_modules/ember-frost-core/addon/styles/frost-theme';

.page-content {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  top: 50px;

  .row {
   display: flex;
   flex-direction: row;

   .column {
     display: flex;
     flex-direction: column;
   }

   .item {
     width: 90%;
   }
  }

  .hljs {
    background: #21252E;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1), 0 4px 8px 0 rgba(0, 0, 0,.2);
    color: #98A0B0;
    max-height: 50vh;
    // font-size: .85em;
    overflow: scroll;
    padding: .9em;
    width: 90%;

    .hljs-keyword {
      color: #B959D8;
    }

    .hljs-built_in {
      color: #DFB563;
    }

    .hljs-string {
      color: #86BB62;
    }

    .hljs-number,
    .hljs-subst {
      color: #C7894F;
    }

    .hljs-tag {
      color: inherit;

      .hljs-name {
        color: #D95360;
      }

      .hljs-attr {
        color: #C7894F;
      }
    }
  }
}
.frost-application-bar {
  .navigation-logo {
    border-right: solid 1px #666;
    cursor: pointer;
    height: 50px;

    .frost-icon {
      width: 125px;
    }

    > div {
      &.frost-svg {
        width: 125px;
        height: 40px;
        margin: 0px 24px;
      }
    }
  }

  .user {
    align-items: center;
    border-left: solid 1px $frost-color-grey-3;
    border-right: 0;
    color: $frost-color-white;
    display: flex;
    flex-direction: row;
    height: 50px;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: middle;

    .frost-icon {
      height: 35px;
      padding-left: 5px;
      width: 35px;
    }
  }
}
