<div class='nav-route'>
  <div class='nav-route-icon' style='color: blue'>
    {{frost-icon pack=item.pack icon=item.icon}}
  </div>
  <div>
    <div class='nav-route-name'>
      {{item.name}}
    </div>
    <div class='nav-route-description'>
      {{item.description}}
    </div>
  </div>
</div>
