{{#from-elsewhere name="modal" as |modal|}}
    {{#liquid-if activeCategory class='nav-modal-binding'}}
      <div class="frost-navigation-background"></div>
      {{nav-modal}}
    {{/liquid-if}}
{{/from-elsewhere}}
