{{#if activeCategory}}
  {{#liquid-unless showActions class='actionSlide'}}
    {{#each columns as |column|}}
      <div class='nav-column'>
        {{#each column as |_section|}}
          {{#if _section.isVisible}}
            {{nav-section section=_section showMore=(action 'showMore')}}
          {{/if}}
        {{/each}}
      </div>
    {{/each}}
  {{else}}
    {{log content}}
    {{nav-section-action section=content goBack=(action 'goBack')}}
  {{/liquid-unless}}
{{/if}}
