{{#if activeCategory}}
  {{#liquid-unless actionsVisible class='nav-modal-content'}}
    {{#each columns as |column|}}
      <div class='nav-column'>
        {{#each column as |_section index|}}
          {{nav-section
            isVisible=_section.isVisible
            section=_section
            setView=(action 'setView')
            hook=(concat hook '-section-' index)
          }}
        {{/each}}
      </div>
    {{/each}}
  {{else}}
    {{nav-section-actions
      section=content
      goBack=(action (mut actionsVisible) false)
      hook=(concat hook '-section-actions')
    }}
  {{/liquid-unless}}
{{/if}}
