<div class='nav-route-icon' style='color: blue'>
  {{frost-icon pack=pack icon=icon}}
</div>
<div>
  <div class='nav-route-name'>
    {{name}}
  </div>
  <div class='nav-route-description'>
    {{description}}
  </div>
</div>