{{#if activeCategory}}
  {{#liquid-unless showActions class='actionSlide'}}
    {{#each columns as |column|}}
      <div class='nav-column'>
        {{#each column as |_section index|}}
          {{nav-section
            isVisible=_section.isVisible
            section=_section
            showMore=(action 'showMore')
            hook=(concat hook '-section-' index)
          }}
        {{/each}}
      </div>
    {{/each}}
  {{else}}
    {{nav-section-actions
      section=content
      goBack=(action 'goBack')
      hook=(concat hook '-section-actions')
    }}
  {{/liquid-unless}}
{{/if}}
