<div class='frost-link'>
  <div class='content'>
    <div class='nav-route-icon'>
      {{frost-icon
        hook=(concat hook '-icon')
        pack=item.pack
        icon=item.icon
        isVisible=iconVisible
      }}
    </div>
    <div>
      <div class='nav-route-name'>
        {{item.name}}
      </div>
      <div class='nav-route-description'>
        {{item.description}}
      </div>
    </div>
  </div>
</div>
